button {
  background-color: #00003c;
  color: #fef9e6;
  border: 0;
  border-radius: 30px;
  padding: 1em 2em;
  font-weight: 600;
  font-size: 18px;
  margin: 1em 0;
}

button.danger {
  background-color: #d00414;
}
